.box.control-panel {
    padding: 5px 16px;
    padding-bottom: 0;
    border-radius: 0;
    width: 100%;
    background-color: transparent;
}

.box-content {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.box h3 {
    margin: 0 16px;
    margin-bottom: 8px;
    font-size: 0.75em;
    color: var(--md-sys-color-primary);
    user-select: none;
}

.list-item {
    display: flex;
    align-items: center;
    gap: 16px;
    min-height: 64px;
    border-radius: 4px;
    padding: 16px;
    box-sizing: border-box;
    background-color: var(--md-sys-color-tonal-surface);
    position: relative;
}

#action-redirect-container {
    display: none;
}

#tiles-container {
    display: none;
}

.list-item-content {
    white-space: wrap;
    flex-grow: 1;
    user-select: none;
}

.leading-icon {
    flex-shrink: 0;
}

#language-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px 0;
}

.language-option {
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
}

md-switch.soft-disabled {
    pointer-events: none;
}