#file-selector-dialog {
    width: calc(100% - 32px);
    height: 80%;
}

.file-selector-header {
    display: flex;
    align-items: center;
}

.current-path .separator {
    color: var(--md-sys-color-outline);
    padding: 0 4px;
}

.current-path {
    flex-grow: 1;
    font-size: 16px;
    overflow: scroll;
    white-space: nowrap;
    user-select: none;
}

.file-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px 0;
    transition: all 0.3s ease;
}

.file-list.switching {
    transform: scale(0.95);
    opacity: 0;
}

.file-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    user-select: none;
    color: var(--md-sys-color-on-surface);
}

.file-item md-icon {
    margin-right: 10px;
}

[dir="rtl"] .file-item md-icon {
    margin-right: unset;
    margin-left: 10px;
}

.file-item span {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}