.copy-link {
    color: var(--md-sys-color-primary);
    border-radius: 5px;
    position: relative;
    user-select: none;
    width: fit-content;
    word-break: break-all;
}

.documents h1 {
    margin-top: 0;
    margin-bottom: 24px;
}
.documents h2,
.documents h3,
.documents h4 {
    margin-bottom: 8px;
}

.documents img {
    max-width: 100%;
    max-height: calc(100vh - var(--top-inset) - var(--bottom-inset));
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.documents ul {
    padding-left: 0;
    margin: 0;
}

.documents ul li {
    align-items: center;
    margin-left: 20px;
    margin-bottom: 5px;
    list-style-type: disc;
}

.documents a {
    color: inherit;
    cursor: none;
    transition: color 0.1s ease-out;
}

.documents a:active {
    color: var(--md-sys-color-primary);
}

.documents pre {
    background-color: var(--md-sys-color-tonal-surface);
    padding: 16px;
    border-radius: 5px;
    overflow-x: auto;
}

.documents code {
    font-family: monospace;
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-tonal-surface);
    border-radius: 5px;
    padding: 1px;
    user-select: auto;
}

.documents hr {
    margin: 16px 0;
    border-color: var(--md-sys-color-outline);
}