.category-container {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.box-header md-outlined-icon-button {
    flex-shrink: 0;
    height: 24px;
    width: 24px;
    --md-outlined-icon-button-icon-size: 16px;
}

.input-box-wrapper {
    background-color: var(--md-sys-color-surface-container-low);
    border-radius: 10px;
    border: 1px solid var(--md-sys-color-outline-variant);
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 35px);
    height: 35px;
}

.input-box-wrapper.focus {
    border: 2px solid var(--md-sys-color-primary);
}

.input-box {
    outline: none;
    border: none;
    width: 100%;
    padding: 0 10px;
    font-family: inherit;
    line-height: 1.5;
    font-size: 0.9em;
    color: var(--md-sys-color-on-surface);
    background-color: transparent;
    resize: none;
    white-space: nowrap;
    word-wrap: break-word;
}

.import-button,
.add-btn {
    --md-filled-icon-button-container-width: 35px;
    --md-filled-icon-button-container-height: 35px;
    --md-filled-icon-button-container-shape: 8px;
}

.edit-btn,
.delete-btn {
    max-height: 32px;
    max-width: 32px;
    overflow: hidden;
    flex-shrink: 0;

    --md-filled-icon-button-icon-size: 20px;
    --md-filled-icon-button-container-height: 32px;
    --md-filled-icon-button-container-width: 32px;
    --md-filled-icon-button-container-shape: 7px;
    --md-sys-color-primary: var(--md-sys-color-error);
    --md-sys-color-on-primary: var(--md-sys-color-on-error);
}

.edit-btn {
    --md-sys-color-primary: var(--md-sys-color-tertiary);
    --md-sys-color-on-primary: var(--md-sys-color-on-tertiary);
}

.link-box {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
    min-width: 100%;
}

.link-box md-checkbox {
    flex-shrink: 0;
    margin-inline-end: 8px;
    max-height: 32px;
    overflow: hidden;
}

.link-text {
    flex-grow: 1;
    font-size: 0.9em;
    word-break: break-all;
    word-wrap: break-word;
}

.link-button {
    flex-shrink: 0;
    display: flex;
    gap: 8px;
}

.favicon-wrapper {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 35px;
    height: 35px;

    svg {
        padding: 5px;
        box-sizing: border-box;
        fill: var(--md-sys-color-on-secondary-container);
    }
}

.favicon {
    width: 100%;
    height: 100%;
    background-color: var(--md-sys-color-secondary-container);
    border-radius: 8px;
}

.favicon-loader {
    width: 22px;
    height: 22px;
    margin: 5px;
    border: 3px solid #ccc;
    border-top: 3px solid #555;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    left: 0;
}

.favicon-img {
    display: none;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.show-more-item {
    color: var(--md-sys-color-on-surface-variant);
    font-size: 0.9em;
    text-align: center;
    width: 100%;
    user-select: none;
}

[dir="rtl"] .format {
    direction: ltr !important;
    text-align: right !important;
}

.import-button {
    margin: 5px 0;

    --md-filled-icon-button-container-width: 100%;
}

/* editor workpace */
.editor-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.line-numbers {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    width: 30px;
    z-index: calc(var(--z-index-base) + 1);
    padding: 5px 3px 30px 0;
    color: var(--md-sys-color-outline);
    background-color: var(--md-sys-color-outline-variant);
    text-align: right;
    font-family: monospace;
    font-size: 0.9em;
    line-height: 1.5;
    overflow-x: hidden;
    transition: padding-bottom 0.2s ease;
    user-select: none;
}

.active-line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.5em;
    background-color: var(--md-sys-color-outline);
    opacity: 0.2;
    pointer-events: none;
    z-index: var(--z-index-base);
}

#edit-content {
    background-color: var(--md-sys-color-surface-container-high);
}

.edit-input {
    direction: ltr !important;
    position: relative;
    background-color: transparent;
    height: 100%;
    width: 100%;
    color: inherit;
    font-size: 0.9em;
    line-height: 1.5;
    border: none;
    outline: none;
    resize: none;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 30px;
    box-sizing: border-box;
    transition: padding-bottom 0.2s ease;
    overflow-y: auto;
    white-space: nowrap;
    scrollbar-color: var(--md-sys-color-outline) var(--md-sys-color-tonal-surface);
}

#edit-input::-webkit-scrollbar {
    width: 25px;
    transition: width 0.2s ease;
}

#edit-input::-webkit-scrollbar-track {
    background-color: var(--md-sys-color-surface-container-low);
}

#edit-input::-webkit-scrollbar-thumb {
    min-height: 40px;
    background-color: var(--md-sys-color-outline);
    border-radius: 5px;
}
